[Unit]
Description=Minos Server
After=network-online.target
Wants=network-online.target

[Service]
Type=simple
ExecStart=/usr/bin/minos-server -C /etc/minos.d/server.conf

[Install]
WantedBy=multi-user.target
