[Unit]
Description=Minos Client
After=network.target

[Service]
Type=simple
ExecStart=/usr/bin/minos-client -C /etc/minos.d/client.conf

[Install]
WantedBy=multi-user.target
